<div class="error"><%= @set_temp.errors.full_messages.join(", ") %></div>
<% if @reading %>
  <div class="status">Current Temp: <%= "%0.1f" % @reading.temp_f %></div>
<% end %>

<%= form_for @set_temp, url: set_temp_path do |f| %>
  <fieldset>
    <legend>Mode</legend>
    <div class="radio_pair">
      <%= f.radio_button :mode, "cooling", checked: "checked" %>
      <label for="set_temp_mode_cooling">
        <%= image_tag "flake.svg", alt: "Cool" %>
      </label>
      <%= f.radio_button :mode, "heating" %>
      <label for="set_temp_mode_heating">
        <%= image_tag "flame.svg", alt: "Heat" %>
      </label>
    </div>
  </fieldset>
  <%= f.label :temp, "Set Temp" %>
  <%= f.number_field :temp, min: 50, max: 85, size: 2, pattern: "\\d*" %>
  <div class="temp-action-group">
    <button class="temp-action decrease-temp" type="button"><%= fa_icon("chevron-down") %></button>
    <button class="temp-action increase-temp" type="button"><%= fa_icon("chevron-up") %></button>
  </div>
  <%= f.submit "Set" %>
<% end %>
